<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="style.css") }}" title="orange" />
		<title>RAMA</title>
	</head>
	<body>
	<div id="output">
	<ol id="results">
	{% for (score, reviews, rating, title, price, url, image_url) in results %}
		<li>
		<a href="{{ url }}"><img src="{{ image_url if image_url != None else '' }}" alt="{{ title }}" /></a>
		<br/>
		<a href="{{ url }}">{{ title }}</a> 
		<br/>
		RAMA Rating: {{ score | round(2) }}, Reviews: {{ reviews }}
		<br/>
		<span class="price">{{ price[0] }} {{ price[1] }}</span>
		</li>
		{% endfor %}
</ol></div></body>
</html>